*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  background: url();
}
#main{
  height: 80px;
  border: 1px solid;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#main a{
  font-size: 22px;
  text-decoration: none;
}
.main1{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  /* border: 1px solid; */
}
#main2{
  width: 25%;
  /* border: 1px solid; */
  margin-top: 50px;
  padding: 20px;
}
.main1 img{
  height: 300px;
  width: 100%;
  /* border: 1px solid; */
}
input{
  height: 40px;
  padding-left: 20px;
}